@import '../layout/Vars.scss';

.contact {
    padding-top: $paddingBetweenSections;
    h1 {
        font-weight: 900;
        font-size: $headingFontSize;
        color: $mainDark;
        span {
            color: $mainColor;
        }
    }
    .form-content {
        button {
            padding-left: 5px;
            margin-left: 15px;
            width: 100px;
            height: 40px;
            border: none;
            background: $mainDark;
            color: $mainLight;
            font-size: 17px;
            text-transform: uppercase;
            cursor: pointer;
        }
    }
}